
@font-face {
  font-family: 'MyriadHebrew-Regular';
  src: url('MyriadHebrew-Regular.eot?#iefix') format('embedded-opentype'),  url('MyriadHebrew-Regular.otf')  format('opentype'),
	     url('MyriadHebrew-Regular.woff') format('woff'), url('MyriadHebrew-Regular.ttf')  format('truetype'), url('MyriadHebrew-Regular.svg#MyriadHebrew-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
