
@font-face {
  font-family: 'Shluk1-0AAA-Regular';
  src: url('Shluk1-0AAA-Regular.eot?#iefix') format('embedded-opentype'),  url('Shluk1-0AAA-Regular.otf')  format('opentype'),
	     url('Shluk1-0AAA-Regular.woff') format('woff'), url('Shluk1-0AAA-Regular.ttf')  format('truetype'), url('Shluk1-0AAA-Regular.svg#Shluk1.0AAA-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
