
@font-face {
  font-family: 'FbKarlibachEngBold';
  src: url('FbKarlibachEngBold.eot?#iefix') format('embedded-opentype'),  url('FbKarlibachEngBold.woff') format('woff'), url('FbKarlibachEngBold.ttf')  format('truetype'), url('FbKarlibachEngBold.svg#FbKarlibachEngBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
