
@font-face {
  font-family: 'FbReformaNarrowBold';
  src: url('FbReformaNarrowBold.eot?#iefix') format('embedded-opentype'),  url('FbReformaNarrowBold.otf')  format('opentype'),
	     url('FbReformaNarrowBold.woff') format('woff'), url('FbReformaNarrowBold.ttf')  format('truetype'), url('FbReformaNarrowBold.svg#FbReformaNarrowBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
